<div>
    <img [src]="unFilm.image" />
    <h3>{{ unFilm.nom}}</h3>
    <p>Sorti en {{unFilm.anneeSortie}}</p>
    <p>Genres : </p>
    <ul>
        <li *ngFor="let g of unFilm.genres">{{ g }}</li>
    </ul>
    <p>Réalisé par : {{ unFilm.realisateur }}</p>
    <p>Durée : {{ unFilm.duree }} minutes</p>
    <div class="centre">
        <button (click)="reagirAuClick()">Supprimer</button>
    </div>
    <div class="centre">
        <button (click)="reagirModifier()">Modifier</button>
    </div>

</div>